<%= form_for(@house) do |f| %>
  <% if @house.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@house.errors.count, "error") %> prohibited this house from being saved:</h2>

      <ul>
      <% @house.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :compartment %><br>
    <%= f.number_field :compartment %>
  </div>
  <%= f.fields_for :address  do |a|%>
  <div class="field"> 
    <%= a.label :street %> <br>
    <%= a.text_field :street %>
   </div>
  <div class="field">
    <%= a.label :number %><br>
    <%= a.text_field :number %>
  </div>
  <div class="field">
    <%= a.label :zip %><br>
    <%= a.text_field :zip %>
  </div> 
  <%end%>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
